body {
    min-height: 100vh;
    /* background-color: rgb(254, 244, 189); */

    display: flex;
    flex-direction: column;
    justify-content: center;

}

.buttons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.buttons div {
    display: flex;
    flex-direction: column;
}

.buttons button {
    height: 100px;
    width: 200px;
}

img {
    width: 200px;
    height: 200px;
    mix-blend-mode: multiply;
    
}